@page "/sportcomplex"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Olimpiadas.Shared
@attribute [Authorize]
<h3>SportComplex</h3>

@code {

}
