.modal-content {
    padding: 20px 40px 20px 40px;
    width: 150%;
}
.text-algin-center {
    text-align: center;
}
.button-create-sport-complex{
    display:flex;
    justify-content:end;
    align-items:center;
    margin-bottom:5px;
}

